@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    font-size: 79%;
    /* background-color: black; */
}

::-webkit-scrollbar{
    width:7px;
    
  }
  ::-webkit-scrollbar-track{
   background: wheat;
  }
  ::-webkit-scrollbar-thumb{
   background: #ef3b2d;
   border-radius: 5rem;
  }



/* Mobile Nav */
.dark-back{
    position: absolute;
    z-index: -5;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: brightness(50%);
}
.mobile-nav{
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #df0909;
    background-image: url('../../public/images/laravel-logo.png');
    background-size: cover;
    text-align: center;
    display: none;
    justify-content: center;
    align-items: center; 
}
.mobile-nav__menu{
        list-style:none;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
        padding: 0;
        gap: 1rem;
}

.header__bars{
    position: absolute;
    z-index: 1000000;
    top:0;
    right: 0;
}